<h2> Filter </h2>
<%= form_tag(filter_movies_path, :method => "get") do %>
  <%= label_tag(:actor, "Actor:") %>
  <%= text_field_tag(:actor) %>

  <%= label_tag(:director, "Director:") %>
  <%= text_field_tag(:director) %>

  <%= label_tag(:company, "Company:") %>
  <%=collection_select(:company, :company_id, Company.all.order('name'), :id, :name, prompt:"Select Company")%>
  
  <%= label_tag(:genre, "Genre:") %>
  <%=collection_select(:genre, :genre_id, Genre.all.order('name'), :id, :name, prompt:"Select Genre")%>
  
  <%= label_tag(:language, "language:") %>
  <%=collection_select(:language, :language_id, Language.all.order('name'), :id, :name, prompt:"Select Language")%>

  <%= submit_tag("Filter") %>
  <% end %>

  